{% extends "base.html.twig" %}

{% block title %}
    Classroom page
{% endblock %}

{% block stylesheets %}
 <style type="text/css">

 </style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    function submitDelete(id, csrfToken) { 
      
      const form = document.getElementById('delete-form');
      const inputId = document.getElementById('delete-id');
      const token = document.getElementById('delete-token');

      inputId.value = id;
      token.value = csrfToken;
      form.action = '/student/delete/' + id;
      
      document.getElementById('real-delete-button').click();
    }
</script>
{% endblock %}

{% block body %}

<h5>Liste des étudiants</h5>
{% if students %}

  <form id="delete-form" method="post" style="display:none;" onsubmit="return confirm('Confirmer la suppression ?');">
      <input type="hidden" name="_token" id="delete-token" value="">
      <input type="hidden" name="id" id="delete-id" value="">
       <button type="submit" id="real-delete-button"></button>
  </form>
  
  <table class="app-table-list table table-striped table-hover">
      <thead >
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Age</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
      {% for student in students %}
          <tr>
              <th scope="row">{{ student.id}}</th>
              <td>{{ student.lastname}}</td>
              <td>{{ student.firstname}}</td>
              <td>{{ student.dateOfBirth.diff(date("now"|date)).y}} ans</td>
              <td class="d-flex justify-content-end gap-2">
                  <button class="btn btn-link text-danger p-0"  style="border: none; background: none;" title="supprimer" onclick="submitDelete({{ student.id }}, '{{ csrf_token('delete_student_' ~ student.id) }}')"><i class="fas fa-trash"></i></button>
                  <a class="text-success" title="éditer" href="{{ path(name = 'student_edit' , parameters = {id: student.id})}}"> <i class="fas fa-edit"></i></a>
                  <a class="text-primary" title="détail" href="{{ path(name = 'student_show' , parameters = {id: student.id})}}"> <i class="fas fa-circle-info"></i></i></a>
              </td>
          </tr>
      {% endfor %}
      <tbody>
  </table> 

  {% if totalPages > 1 %}
    {% include 'components/paginator/_pagination.html.twig' with {
        page: currentPage,
        pages: totalPages
    } %}
  {% endif %}

{% else %}  
  <div class="alert alert-warning" role="alert">
    Aucun résultat trouvé
  </div>
{% endif %}  

{% endblock %}